{% extends 'core/base.html' %}

{% block content %}
    <form>
        <h5>Change Password</h5>
        <hr>
        {#            <label for="exampleInputEmail1" class="">Password</label>#}
        <div class="mb-3">
            <input class="form-control" type="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="New password">
        </div>
        {#            <label for="exampleInputPassword1" class="">Confirm password</label>#}
        <div class="mb-3">

            <input class="form-control" type="password" id="exampleInputPassword1" placeholder="Confirm Password">
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-success">Kodni yuborish</button>
        </div>
    </form>

{% endblock %}